@import "../../styles/cores.module.scss";

#headerMain{
    background-color: #181818;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    height: 100px;
}
#boxLogo{
    display: flex;
    align-items: center;
}
#logo{
    height: 60px;
    width: 170px;
    padding: 10px 0;
    cursor: pointer;
}
#listaUm{
    display: flex;
    list-style: none;
    width: 450px;
    justify-content: space-between;
}
#listaDois{
    display: flex;
    list-style: none;
}
#navegacao{
    display: flex;
    width: 750px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.home{
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid $primarycolor;
    color: #FFFFFF;
}
.clinica{
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}
.procedimentos{
    text-decoration: none;
    background-color: #181818;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 5px;
    display: block;
    position: relative;
}
.bodyTite{
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid $primarycolor;
    border-radius: 5px;
    padding: 5px 10px;
    &:hover{
        border-color: #237566;
    }
}
.marcelo{
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}
.linksAnimados{
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px; 
        background-color: $primarycolor; 
        transition: width 0.3s ease; 
    }
    &:hover::after {
        width: 100%;
        right: 0;
        left: auto;
    }
    padding-bottom: 7px;
}
#boxLinksProcedimentos{
    position: absolute;
    transition: 1s;
    background-color: #181818;
}
.linksProcedimentos{
    display: block;
    color: #FFF;
    background-color: #181818;
    margin: 5px 0;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 2px solid $primarycolor;
    padding: 7px 5px;
    &:hover{
        background-color: #2b2b2b;
    } 
}
#iconeDown{
    color: $primarycolor;
}
#ligar{
    text-decoration: none;
    margin: 0 10px;
    color: $primarycolor;
    border: 2px solid $primarycolor;
    border-radius: 10px;
    padding: 5px 15px;
    &:hover{
        border-color: #237566;
    }
}
#whatsapp{
    text-decoration: none;
    margin: 0 10px;
    color:$primarycolor;
    border: 2px solid $primarycolor;
    border-radius: 10px;
    padding: 5px 15px;
    &:hover{
        border-color: #237566;
    }
}