@import "../../styles/cores.module.scss";

#headerMain{
    background-color: #181818;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    height: 100px;
}
#boxLogo{
    display: flex;
    align-items: center;
}
#logo{
    height: 60px;
    width: 170px;
    padding: 10px 0;
    cursor: pointer;
}
#listaUm{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
#listaDois{
    display: flex;
    list-style: none;
}
#navegacao{
    display: flex;
    width: 750px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.home{
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    padding: 5px 0;

}
.clinica{
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    padding: 5px 0px;
}
.procedimentos{
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 5px 0;
}    
.bodyTite{
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid $primarycolor;
    border-radius: 5px;
    padding: 5px 10px;
    &:hover{
        border-color: #237566;
    }
}
.marcelo{
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    padding: 5px 0;
}
.linksAnimados{
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px; 
        background-color: $primarycolor; 
        transition: width 0.3s ease; 
    }
    &:hover::after {
        width: 100%;
        right: 0;
        left: auto;
    }
    margin: 0 10px;
}
#boxLinksProcedimentos{
    position: absolute;
    transition: 1s;
    background-color: #181818;
}
.linksProcedimentos{
    display: block;
    color: #FFF;
    background-color: #181818;
    margin: 5px 0;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 2px solid $primarycolor;
    padding: 7px 5px;
    &:hover{
        background-color: #2b2b2b;
    } 
}
#iconeDown{
    color: $primarycolor;
}
#ligar{
    text-decoration: none;
    margin: 0 10px;
    color: $primarycolor;
    border: 2px solid $primarycolor;
    border-radius: 10px;
    padding: 5px 15px;
    &:hover{
        border-color: #237566;
    }
}
#whatsapp{
    text-decoration: none;
    margin: 0 10px;
    color:$primarycolor;
    border: 2px solid $primarycolor;
    border-radius: 10px;
    padding: 5px 15px;
    &:hover{
        border-color: #237566;
    }
}
.active{
    border-top: 2px solid $primarycolor;
}
#menuHamburguer{
    display: none;
    height: 60px;
    width: 60px;
}
#procedimentosCelular{
    display: none;
    position: fixed;
    top: 0;
    background-color: #181818;
    width: 100vw;
    z-index: 1;
}
#caixaListaCelular{

}
#listaCelular{

}
#listaLinksCelular{

}
.linksProcedCelular{
    color: $primarycolor;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    margin: 10px 0;
    display: block;
    padding: 10px;
}
#caixaFecharCelular{
    display: flex;
    justify-content: flex-end;
}
#iconFecharProcedimentos{
    width: 20px;
    height: 20px;
}
#btnFecharCelular{
    padding: 5px 10px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff0000;
    border-radius: 5px;
    margin: 30px 15px;
    width: 100px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    #headerMain{
        padding: 0;
        height: 100px;
        justify-content: space-around;
    }
    #navegacao{
        width: auto;
    }
    #listaUm{
        display: none;
    }
    #listaDois{
        display: none;
    }
    #menuHamburguer{
        display: block;
        width: 50px;
        height: 50px;
    }
    #logo{
        height: 50px;
        width: 150px;
        padding: 10px 0;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    #headerMain{
        padding: 0;
        height: 100px;
        justify-content: space-around;
        width: 100vw;
    }
    #navegacao{
        width: auto;
    }
    #listaUm{
        display: none;
    }
    #listaDois{
        display: none;
    }
    #menuHamburguer{
        display: block;
    }
    #logo{
        height: 60px;
        width: 160px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
    #headerMain{
        padding: 0;
        height: 100px;
        justify-content: space-around;
        width: 100vw;
    }
    #navegacao{
        width: auto;
    }
    #listaUm{
        display: none;
    }
    #listaDois{
        display: none;
    }
    #menuHamburguer{
        display: block;
    }
    #logo{
        height: 60px;
        width: 160px;
    }
}