@import '../../styles/cores.module.scss';

#footerSessao{
    
}
#sessaoUmFooter{
    display: flex;
    justify-content: space-between;
}
#logo{
    border-right: 3px solid #fff;
    padding-right: 30px;
    width: 199px;
}
#iconsFooter{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
#conteudoFooter{
    border-top: 3px solid $primarycolor;
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
}
#navegacaoFooter{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 100px;
}
#caixaDrMarcelo{
    width: 300px;
}
#caixaProcedimentos{
    
}
#caixaEndereço{
    width: 330px;
}
.titulosFooter{
    color: $primarycolor;
    margin-bottom: 25px;
}
.descricaoFooter{
    color: #fff;
    font-weight: 300;
}
.listaFooter{
    list-style: none;
}
.lista{
    margin-bottom: 10px;
}
#iconeWhatsapp{
    margin-top: 1px;
}
#iconeFacebook{
    margin-top: 1px;
}
#iconeEmail{
    margin-top: 1px;
}
#sobreClinicaTexto{
    color: #CAC8C8;
    height: 100px;
    padding: 0 30px;
    //border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#webtechBox{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primarycolor;
}
#webtechBox > p{
    text-align: center;
}
#webtech{
    text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    #sessaoUmFooter{
        flex-direction: column;
        align-items: center;
    }
    #logo{
        border-right: none;
        padding-right: 0;
    }
    #navegacaoFooter{
        flex-direction: column;
        align-items: center;
    }
    .titulosFooter{
        margin: 20px 0;
        text-align: center;
        font-size: 25px;
    }
    .descricaoFooter{
        text-align: center;
        font-size: 18px;
        margin: 0 10px;
    }
    .listaFooter{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #sobreClinicaTexto{
        text-align: center;
    }
    #iframeLocalizacao{
        width: 80vw;
        height: 200px;
        margin: 20px 0;
    } 
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}