$primarycolor: #20e2bf;
$secondarycolor: #171717a8;

#bgHome {
  background-image: url(../public/corporali/dr_marcelo/capa_principal_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  padding-left: 13%;
  border-bottom: 15px solid $primarycolor;
}
#titulosHome {}
#tituloUm {
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 18px;
}

#tituloDois {
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 50px;
  margin-bottom: 22px;
}

#tituloTres {
  background-color: $secondarycolor;
  color: $primarycolor;
  width: 460px;
  padding: 30px;
  border-radius: 20px;
}

#boxSaberMais {
  background-color: $secondarycolor;
  border: 1px solid #ffffff;
  width: 200px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin-top: 25px;
}
#saberMais {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
}