@import '../styles/cores.module.scss';

/* PARTE BANNER INICIO */
#bgHome {
  background-image: url(../public/corporali/dr_marcelo/capa_principal_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  padding-left: 13%;
}
#tituloUm {
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 18px;
}
#tituloDois {
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 50px;
  margin-bottom: 22px;
}
#tituloTres {
  background-color: $tertiarycolor;
  color: $primarycolor;
  width: 460px;
  padding: 30px;
  border-radius: 20px;
}
#boxSaberMais {
  background-color: $tertiarycolor;
  border: 1px solid #ffffff;
  width: 200px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin-top: 25px;
}
#saberMais {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
}
/* PARTE BANNER FIM */


/* PARTE CLINICA INICIO */
#clinica{
  height: 500px;
}
#fotoClinica{
  background-color: blue;
  height: 100%;
  width: 70%;
  background-image: url(../public/corporali/clinica/foto_1.JPG);
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#conteudoClinica{
  display: flex;
  background-color: transparent;
  min-width: 90vw;
  width: 90vw;
  height: 80%;
  border: 3px solid #ffffff;
  border-radius: 20px;
  margin-left: 4vw;
}
#sloganClinica{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 0 30px 40px;
}
#tituloSloganClinica{
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#descricaoSloganClinica{
  color: $primarycolor;
  background-color: $tertiarycolor;
  width: 60%;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
#sobreaClinica{
  width: 50%;
  background-color: #323232dc;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 30px 0 0 50px;
  
}
#tituloSobreaClinica{
  border-left: 3px solid $primarycolor;
  padding-left: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
#tituloClinicaVerde{
  color: $primarycolor;
}
.descricaoClinica{
  color: #ffffff;
  font-weight: 300;
  width: 90%;
  text-align: justify;
  margin: 20px 0;
}
#boxLinhaBranca{
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
#linhaBranca{
  height: 3px;
  background-color: #ffffff;
  width: 30%;
}
/* PARTE CLINICA FIM */

/* PARTE INICIO PROCEDIMENTOS */

#procedimentos{
  height: 600px;
  background-image: url(../public/corporali/clinica/foto_18.JPG);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#conteudoProcedimentos{
  background-color: #1e1e1ed5;
  display: flex;
  height: 90%;
  width: 90%;
  box-sizing: border-box;
  padding: 50px;
}
#tituloProcedimentos{
  color: $primarycolor;
  border-left: 3px solid $primarycolor;
  padding-left: 10px;
  font-size: 40px;
}
.descricaoProcedimentos{
  color: #ffffff;
  font-weight: 300;
  width: 80%;
  margin: 30px 0;
  padding-left: 15px;
}
#caixaUmProcedimentos{
  width: 40%;
}
#caixaDoisprocedimentos{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.caixaProcedimento{
  border: 3px solid $primarycolor;
  width: 200px;
  height: 150px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.caixaPequenaProcedimentos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* PARTE FIM PROCEDIMENTOS */