@import '../styles/cores.module.scss';

/* PARTE BANNER INICIO */
#bgHome {
  background-image: url(../public/corporali/dr_marcelo/marcelo_9.JPG);
  background-position: top;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 13%;
}
#tituloUm {
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 18px;
}
#tituloDois {
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 50px;
  margin-bottom: 22px;
}
#tituloTres {
  background-color: $tertiarycolor;
  color: $primarycolor;
  width: 460px;
  padding: 30px;
  border-radius: 20px;
}
#boxSaberMais {
  background-color: $tertiarycolor;
  border: 1px solid #ffffff;
  width: 200px;
  border-radius: 15px;
  margin-top: 25px;
  transition: 0.5s;
  &:hover{
    width: 220px;
  }
}
#saberMais {
  display: block;
  text-align: center;
  padding:8px 0;
  text-decoration: none;
  color: #fff;
}
/* PARTE BANNER FIM */

/* PARTE CLINICA INICIO */
#clinica {
  height: 500px;
}
#fotoClinica {
  height: 100%;
  width: 70%;
  background-image: url(../public/corporali/clinica/foto_1.JPG);
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#conteudoClinica {
  display: flex;
  background-color: transparent;
  min-width: 90vw;
  width: 90vw;
  height: 80%;
  border: 3px solid #ffffff;
  border-radius: 20px;
  margin-left: 4vw;
}
#sloganClinica {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 0 30px 40px;
}
#tituloSloganClinica {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#descricaoSloganClinica {
  color: $primarycolor;
  background-color: $tertiarycolor;
  width: 60%;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
#sobreaClinica {
  width: 50%;
  background-color: #323232dc;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 30px 0 0 50px;
}
#tituloSobreaClinica {
  border-left: 3px solid $primarycolor;
  padding-left: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
#tituloClinicaVerde {
  color: $primarycolor;
}
.descricaoClinica {
  color: #ffffff;
  font-weight: 300;
  width: 90%;
  text-align: justify;
  margin: 20px 0;
}
#boxLinhaBranca {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
#linhaBranca {
  height: 3px;
  background-color: #ffffff;
  width: 30%;
}
/* PARTE CLINICA FIM */

/* PARTE INICIO PROCEDIMENTOS */
#procedimentos {
  height: 600px;
  background-image: url(../public/corporali/clinica/foto_18.JPG);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#conteudoProcedimentos {
  background-color: #1e1e1ed5;
  display: flex;
  height: 90%;
  width: 90%;
  box-sizing: border-box;
  padding: 50px;
}
#tituloProcedimentos {
  color: $primarycolor;
  border-left: 3px solid $primarycolor;
  padding-left: 10px;
  font-size: 40px;
}
.descricaoProcedimentos {
  color: #ffffff;
  font-weight: 300;
  width: 80%;
  margin: 30px 0;
  padding-left: 15px;
}
#caixaUmProcedimentos {
  width: 40%;
}
#caixaDoisprocedimentos {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.caixaProcedimento {
  border: 3px solid $primarycolor;
  width: 200px;
  height: 150px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.caixaPequenaProcedimentos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* PARTE FIM PROCEDIMENTOS */

/* parte Incio Doutor */
#marcelo {
  background-color: $secondarycolor;
  display: flex;
  justify-content: space-evenly;
}
#caixadaFotoDoutor {
  width: 350px;
  height: 600px;
  background-color: $primarycolor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#imagemDoutor {
  width: 400px;
  height: 500px;
  padding-left: 120px;
  border-radius: 5px;
}
#caixaDeTextos {
  display: flex;
  flex-direction: column;
}
#textoUmDoutor {
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 40px;
  border-left: solid 3px #ffffff;
  padding-left: 10px;
}
#textoDoisDoutor {
  color: $primarycolor;
  margin-top: 30px;
  font-size: 20px;
}
#divParagrafo {
  text-align: justify;
  width: 300px;
}
#textoTresDoutor {
  color: $primarycolor;
  margin-top: 50px;
  font-size: 25px;
}
#textoQuatroDoutor {
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 70px;
}
.linhaHorizontalDoutor {
  margin: 50px auto;
  width: 800px;
  height: 3px;
  background-color: #ffffff;
}
/* parte fim Doutor */

/* parte incio Duvidas */
#duvidas {
  background-color: $secondarycolor;
}
.imgMarcelo {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
}
#caixaDoTituloPrinpical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: $primarycolor;
  margin-bottom: 30px;
}
#tituloPrincipalDuvidas {
  background-color: $secondarycolor;
  text-transform: uppercase;
  width: 250px;
  height: 30px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.boxDuvidas {
  display: flex;
  justify-content: space-evenly;
}
.linhaVerticalDasDuvidas{
  margin-top: 40px;
  background-color: #ffffff;
  height: 350px;
  width: 3px;
}
#caixaDasImagensUm {
  background-image: url(../public/corporali/dr_marcelo/marcelo_4.JPG);
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  margin: 40px 0;
}
.planos {
}
.boxImgDuvidas {
  display: flex;
  justify-content: center;
}
.setasDireitaEsqueda {
  width: 110px;
  height: 110px;
}
#caixaDasImagensDois {
  background-image: url(../public/corporali/dr_marcelo/marcelo_1.JPG);
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  margin: 40px 0;
}
#caixaDasImagensTres {
  background-image: url(../public/corporali/dr_marcelo/marcelo_7.JPG);
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  margin: 40px 0;
}
.titulosDasDuvidas {
  text-align: center;
  padding: 25px;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.caixaDasDuvidas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primarycolor;
  width: 350px;
  height: 350px;
  margin: 40px 0;
}
.textosDasDuvidas {
  text-align: justify;
  color: $secondarycolor;
  width: 50%;
}
.boxTextosDasDuvidas {
  width: 230px;
  height: 250px;
  border: 3px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LinhaHorizontalTexto {
  display: flex;
  width: 50%;
  justify-content: right;

}
.linhaDoTexto {
  margin-top: 20px;
  width: 70px;
  height: 3px;
  background-color: #ffffff;
}
.linhasMaster {
  display: flex;
  justify-content: center;
}
#LinhaHorizontalTextoEsquerda {
  display: flex;
  width: 50%;
  justify-content: left;
}
#linhaDoTextoEsquerdo {
  margin-top: 20px;
  width: 70px;
  height: 3px;
  background-color: #ffffff;
}
#linhaHorizontalDosCarsUm {
  height: 3px;
  background-color: $primarycolor;
  width: 1004px;
}
#linhaHorizontalDosCarsDois {
  height: 3px;
  background-color: $primarycolor;
  width: 1004px;
}
#linhaHorizontalDosCarsTres {
  height: 20px;
  background-color: $primarycolor;
}
/* parte fim Duvidas */

/* parte inicio Contatos */
#linhaHorizontalDosContas {
  height: 30px;
  background-color: $secondarycolor;
}
#contato {
  background-color: $secondarycolor;
  background-image: url(../public/corporali/clinica/foto_1.JPG);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
#boxContatos {
  margin: 50px 0;
  background-color: #171717d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
#linhaVerticalDosContatos {
  margin-right: 160px;
  display: flex;
  justify-content: flex-start;
  background-color: $primarycolor;
  width: 3px;
  height: 420px;
}
#parteUmdosContatos {
  padding-left: 100px;
}
#contateNos {
  width: 100%;
  margin: 25px 0;
  color: $primarycolor;
  text-transform: uppercase;
  font-size: 18px;
}
#contateNostexto {
  width: 250px;
  padding-left: 15px;
}
#linhavertxalContatenos {
  width: 2px;
  height: 40px;
  background-color: $primarycolor;
}
#boxContatenos {
  display: flex;
  justify-content: flex-start;
}
#boxTextoContatos {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
#textoContateNos {
  width: 70%;
  font-size: 18px;
  color: #ffffff;
}

/* #secForm {} */

#formContatos {
  display: flex;
  flex-direction: column;
}
#nome {
  width: 313px;
  height: 30px;
  border-radius: 10px;
  background-color: #17171752;
  color: #ffffff;
  border: solid 2px #ffffff;
  padding-left: 15px;
}
#contatos {
  width: 313px;
  height: 30px;
  border-radius: 10px;
  background-color: #1717175d;
  color: #ffffff;
  border: solid 2px #ffffff;
  padding-left: 15px;
}
#email {
  background-color: #17171759;
  color: #ffffff;
  width: 313px;
  height: 30px;
  border-radius: 10px;
  border: solid 2px #ffffff;
  padding-left: 15px;
}
#mensagem {
  padding: 15px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  background-color: #1717175e;
  color: #ffffff;
  border: solid 2px #ffffff;
}
.nomesDoFormularios {
  margin: 8px 0;
  color: #ffffff;
}
#butaoContatos {
  margin: 25px 0;
  width: 340px;
  height: 40px;
  border-radius: 10px;
  background-color: $primarycolor;
  color: #ffffff;
  cursor: pointer;
}
#parteDoisdosContatos {
  height: 90%;
  display: flex;
  flex-direction: column;
}
#boxInformacoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #20E2BF80;
  width: 400px;
  height: 100px;
}
#textoInformacoes {
  padding-bottom: 10px;
  margin: 15px 0;
  width: 70%;
  color: #ffffff;
  font-size: 28px;
  border-bottom: 2px solid #ffffff;
}
#linhaHorizontalInformacoes {
  width: 6px;
  height: 100%;
  background-color: #ffffff;
}
#caixadasInformacoesdaClinica {
  margin: 40px 0;
}
.clinicainformacoes {
  display: flex;
  align-items: center;
}
.boxDosTextos {
  text-align: center;
  background-color: #1CAF95;
  margin: 20px 10px;
  padding: 10px;
  width: 230px;
  color: #ffffff;
  font-size: 15px;
}
/* #partesDosContas {} */
#caixadasImgs {
  display: flex;
  justify-content: right;
}
.imagensDoscontatos {
  margin: 0 15px;
  width: 30px;
  height: 30px;
}
#imagenDoTwitterDosContatos{
  margin: -2px 18px;
  width: 36px;
  height: 36px;
}
#numeroDosContatos {
  display: flex;
  justify-content: right;
}
#telefones {
  color: $primarycolor;
  margin: 15px;
}
#textoOu{
  color: #ffffff;
}
/* parte fim Contatos */

@media screen and (min-width: 320px) and (max-width: 480px) {
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}