@import "./cores.module.scss";

/* INICIO BANNER MARCELO */
#bannerMarcelo{
    background-image: url(../public/corporali/dr_marcelo/marcelo_14.jpg);
    background-size: cover;
    background-position: bottom;
    height: 85vh;
    margin-bottom: 50px;
}
#bgMarcelo{
    background-color: #181818a1;
    height: 100%;
    display: flex;
    align-items: center;
}
#conteudoMarcelo{
    width: 50%;
    margin-left:13%;
}
#linhaAcimaDrMarcelo{
    width: 20%;
    height: 3px;
    background-color: $primarycolor;
    margin-bottom: 50px;
}
#tituloMarcelo{
    color: $primarycolor;
    font-size: 50px;
    text-transform: uppercase;
}
#cirurgiao{
    color: #fff;
    font-weight: 300;
    margin-bottom: 50px;
}
#linhaAbaixoDrMarcelo{
    width: 10%;
    height: 3px;
    background-color: $primarycolor;
    margin-bottom: 50px;
}
#informacoes{
    display: flex;
}
#subTituloMarcelo{
    width: 200px;
    background-color: $primarycolor;
    padding: 10px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #323232;
    margin-right: 50px;
    border-radius: 10px;
    font-weight: bold;
    &:hover{
        background-color: #10a58a;
    }
}
#fotoVideosMarcelo{
    width: 200px;
    background-color: transparent;
    border: 2px solid $primarycolor;
    padding: 10px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    &:hover{
        background-color: #10a58a83;
    }
}
/* FIM BANNER MARCELO */

/* INICIO SOBRE MARCELO */
#linhaHorizontalLongaMarcelo{
    width: 70%;
    height: 3px;
    margin: 70px auto;
    background-color: $primarycolor;
}
.sobreMarcelo{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
#conteudoSobreMarcelo{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 90%;
}
#tituloSobreMarcelo{
    color: $primarycolor;
    border-left: 3px solid #fff;
    padding-left: 10px;
}
.descricaoSobreMarcelo{
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    width: 500px;
    line-height: 30px;
    margin-top: 20px;
}
#linhaSobreMarcelo{
    height: 100%;
    background-color: $primarycolor;
    width: 3px;
}
/* FIM SOBRE MARCELO */
/* INICIO SEGUNDA SESSAO */
#vidaMarcelo{
    margin: 50px 0 100px;
}
#rotinaCirurgica{
    display: flex;
    justify-content: center;
}
#arteDeConstruir{
    display: flex;
}
#cuidandoComEmpatia{
    display: flex;
}
#imgSegundaSessao{
    width: 50%;
    height: 350px;
}
.boxSegundaSessao{
    background-color: #3C3C3C;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 27px;
}
.tituloSegundaSessao{
    color: $primarycolor;
    border-left: 3px solid #fff;
    width: 80%;
    padding-left: 10px;
}
.descricaoSegundaoSessao{
    color: #fff;
    font-weight: 300;
    width: 80%;
    margin-top: 25px;
    font-size: 18px;
}
/* FIM SEGUNDA SESSAO */

/* INICIO GALERIA */
#galeriaFotosMarcelo{
    margin-bottom: 100px;
}
#tituloGaleria{
    text-transform: uppercase;
    color: $primarycolor;
    text-align: center;
    margin-bottom: 30px;
}
#descricaoGaleria{
    text-align: center;
    font-size: 17px;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-weight: 300;
    margin-bottom: 100px;
}
#conteudoFotoGaleria{
    display: flex;
    justify-content: space-evenly;
}
.boxFotoGaleria{
    border: 3px solid $primarycolor;
    height: 500px;
    width: 300px;
    border-radius: 5px;
}
.fotosGaleria{
    height: 500px;
    width: 280px;
    margin-top: 25px;
    margin-left: 25px;
    transition: 0.7s;
    filter: grayscale(100%);
    &:hover {
        transform: scale(1.05);
        filter: grayscale(0%);
    }
}
#linhaAbaixoGaleria{
    width: 85%;
    height: 3px;
    background-color: $primarycolor;
    margin: 0 auto;
}
/* FIM GALERIA */

/* INICIO CARREIRA MARCELO */

#tituloSobreCarreira{
    color: $primarycolor;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 50px;
    font-size: 40px;
}
#descricaoSobreCarreira{
    color: #fff;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-weight: 300;
    margin-bottom: 100px;
}
.boxsCarreiras{
    display: flex;
    justify-content: space-evenly;
}
.boxConteudoCarreiras{
    margin-bottom: 50px;
    
}
.bgCarreira{
    width: 600px;
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.5s;
    &:hover{
        box-shadow: 0 0 15px $primarycolor;
    }
}
.tituloCarreiraMarcelo{
    color: #fff;
    background-color: #20e2be71;
    padding: 10px;
}
.descricaoCarreira{
    width: 600px;
    text-align: justify;
    color: #fff;
    font-weight: 300;
    margin-top: 30px;
}
#bgCarreiraUm{
    background-image: url(../public/corporali/dr_marcelo/marcelo_1.JPG);
}
#bgCarreiraDois{
    background-image: url(../public/corporali/dr_marcelo/marcelo_2.JPG);
}
#bgCarreiraTres{
    background-image: url(../public/corporali/dr_marcelo/marcelo_12.JPG);
}
#bgCarreiraQuatro{
    background-image: url(../public/corporali/dr_marcelo/marcelo_11.JPG);
}
/* FIM CARREIRA MARCELO */

/* INICIO LINKS MARCELO */
#navegacaoMarcelo{
    margin: 100px 0;
}
#linksSessaoMarcelo{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.linksMarcelo{
    background-color: $primarycolor;
    color: $secondarycolor;
    padding: 10px 0;
    width: 200px;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    &:hover{
        background-color: #029479;
        color: #D8D8D8;
    }
}
/* FIM LINKS MARCELO */

#linhaVerde{
   height: 3px;
   width: 90%;
   background-color: $primarycolor;
   margin: 0 auto; 
}

/* INICIO AGENDAR CONSULTA MARCELO */
#agendeConsultaDrMarcelo{
    margin: 50px 0 50px;
    background-image: url(../public/corporali/avulsos/aperto_maos_marcelo.jpg);
    background-size: cover;
    background-position: 0 -230px;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
}
#conteudoAgendarConsultaMarcelo{
    background-color: #181818b4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#tituloAgendarConsultaMarcelo{
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    margin: 20px 0;
}
#descricaoAgendarConsultaMarcelo{
    color: #D8D8D8;
    font-size: 18px;
}
#linkAgendarConsultaMarcelo{
    border: 2px solid $primarycolor;
    width: 170px;
    display: block;
    text-decoration: none;
    color: #fff;text-align: center;
    padding: 10px 0;
    &:hover{
        background-color: #20E2BF;
        color: #3C3C3C;
        font-weight: bold;
    }
}
/* FIM AGENDAR CONSULTA MARCELO */
.imgSegundaSessao{
    width: 400px;
    height: 200px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    /* INICIO MARCELO */
    #bannerMarcelo{
        height: 50vh;
    }
    #bgMarcelo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #conteudoMarcelo{
        width: 80%;
        height: auto;
        margin: 0;
    }
    #linhaAcimaDrMarcelo{
        margin-bottom: 20px;
    }
    #tituloMarcelo{
        font-size: 30px;
    }
    #cirurgiao{
        margin-bottom: 20px;
    }
    #informacoes{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #subTituloMarcelo{
        width: auto;
        font-size: 13px;
        margin: 15px 0;
        border: 2px solid $primarycolor;
    }
    #fotoVideosMarcelo{
        width: auto;
        font-size: 13px;
    }
    /* FIM BANNER MARCELO */
    #linhaHorizontalLongaMarcelo{
        display: none;
    }
    /* INICIO SOBRE MARCELO */
    #conteudoSobreMarcelo{
        flex-direction: column;
        width: 90%;
    }
    #tituloSobreMarcelo{
        text-align: center;
        font-size: 30px;
        border-left: 0;
        padding: 10px 0;
        border-top: 2px solid $primarycolor;
        border-bottom: 2px solid $primarycolor;
    }
    .descricaoSobreMarcelo{
        width: auto;
        margin: 30px 0;
        text-align: justify;
    }
    #linhaSobreMarcelo{
        width: 85%;
        margin: 0 auto;
        height: 3px;
    }
    /* FIM SOBRE MARCELO */

    /* INICIO SEGUNDA SESSAO */
    #vidaMarcelo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .linhaHorizontalVidaMarcelo{
        width: 80%;
        height: 3px;
        background-color: $primarycolor;
        margin: 30px 0;
    }
    #rotinaCirurgica, #arteDeConstruir, #cuidandoComEmpatia{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    #imgSegundaSessao{
        width: 90%;
        height: 200px;
    }
    .boxSegundaSessao{
        width: 90%;
        order: 1;
    }
    .tituloSegundaSessao{
        margin: 30px 0 10px;
        padding-left: 10px;
        font-size: 25px;
    }
    .descricaoSegundaoSessao{
        margin-top: 0;
        text-align: justify;
        padding: 20px 0;
    }
    /* FIM SEGUNDA SESSAO */






    /* INICIO GALERIA */
    #galeriaFotosMarcelo{
        margin-bottom: 0;
    }
    #tituloGaleria{
        border-top: 3px solid $primarycolor;
        border-bottom: 3px solid $primarycolor;
        padding: 10px 0;
        font-size: 30px;
    }
    #descricaoGaleria{
        width: 80%;
        margin: 60px auto;
        font-size: 15px;
    }
    #conteudoFotoGaleria{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boxFotoGaleria{
        margin-bottom: 100px;
    }
    /* FIM GALERIA */

    /* INICIO CARREIRA MARCELO */
    #tituloSobreCarreira{
        font-size: 30px;
    }
    #descricaoSobreCarreira{
        margin-bottom: 70px;
        font-size: 15px;
    }
    .boxsCarreiras{
        flex-direction: column;
        align-items: center;
    }
    .boxConteudoCarreiras{
        width: 80%;
    }
    .descricaoCarreira{
        width: 100%;
        font-size: 15px;
    }
    #bgCarreiraUm{
        background-image: url(../public/corporali/dr_marcelo/marcelo_1.JPG);
        width: 100%;
    }
    #bgCarreiraDois{
        background-image: url(../public/corporali/dr_marcelo/marcelo_2.JPG);
        width: 100%;
    }
    #bgCarreiraTres{
        background-image: url(../public/corporali/dr_marcelo/marcelo_12.JPG);
        width: 100%;
    }
    #bgCarreiraQuatro{
        background-image: url(../public/corporali/dr_marcelo/marcelo_11.JPG);
        width: 100%;
    }
    /* FIM CARREIRA MARCELO */
    /* INICIO LINKS MARCELO */
    #navegacaoMarcelo{
        margin: 20px 0 50px;
    }
    #linksSessaoMarcelo{
        flex-wrap: wrap;
        width: 80%;
        height: 150px;
        padding: 15px 0;
        border-top: 3px solid $primarycolor;
    }
    .linksMarcelo{
        width: 100px;
        font-size: 15px;
        text-transform: capitalize;
    }
    /* FIM LINKS MARCELO */
    /* INICIO AGENDAR CONSULTA MARCELO */
    #agendeConsultaDrMarcelo{
        height: 400px;
        display: flex;
        margin-bottom: 50px;
        background-position: center;
    }
    #conteudoAgendarConsultaMarcelo{
        flex-direction: column;
    }
    #tituloAgendarConsultaMarcelo{
        text-align: center;
        font-size: 30px;
    }
    #descricaoAgendarConsultaMarcelo{
        font-size: 15px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    /* FIM AGENDAR CONSULTA MARCELO */
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* INICIO SOBRE MARCELO */
    #bannerMarcelo{
        height: 50vh;
    }
    #bgMarcelo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #conteudoMarcelo{
        width: 80%;
        height: auto;
        margin: 0;
    }
    #linhaAcimaDrMarcelo{
        margin-bottom: 20px;
    }
    #tituloMarcelo{
        font-size: 30px;
    }
    #cirurgiao{
        margin-bottom: 20px;
    }
    #informacoes{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #subTituloMarcelo{
        width: 400px;
        font-size: 13px;
        margin: 15px auto;
        border: 2px solid $primarycolor;
    }
    #fotoVideosMarcelo{
        width: 400px;
        font-size: 13px;
        margin: 0 auto;
    }
    /* FIM BANNER MARCELO */
    #linhaHorizontalLongaMarcelo{
        display: none;
    }
    /* INICIO SOBRE MARCELO */
    #conteudoSobreMarcelo{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    #tituloSobreMarcelo{
        text-align: center;
        font-size: 30px;
        border-left: 0;
        padding: 10px 0;
        border-top: 2px solid $primarycolor;
        border-bottom: 2px solid $primarycolor;
    }
    .descricaoSobreMarcelo{
        width: 80%;
        margin: 30px auto;
        text-align: justify;
    }
    #linhaSobreMarcelo{
        width: 80%;
        margin: 0 auto;
        height: 3px;
    }
    /* FIM SOBRE MARCELO */
    /* INICIO SEGUNDA SESSAO */
    #vidaMarcelo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .linhaHorizontalVidaMarcelo{
        width: 75%;
        height: 3px;
        background-color: $primarycolor;
        margin: 30px 0;
    }
    #rotinaCirurgica, #arteDeConstruir, #cuidandoComEmpatia{
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    #imgSegundaSessao{
        width: 90%;
        height: 200px;
    }
    .boxSegundaSessao{
        width: 90%;
        order: 1;
    }
    .tituloSegundaSessao{
        margin: 30px 0 10px;
        padding-left: 10px;
        font-size: 25px;
    }
    .descricaoSegundaoSessao{
        margin-top: 0;
        text-align: justify;
        padding: 20px 0 40px;
    }
    /* FIM SEGUNDA SESSAO */
    /* INICIO GALERIA */
    #galeriaFotosMarcelo{
        margin-bottom: 0;
    }
    #tituloGaleria{
        border-top: 3px solid $primarycolor;
        border-bottom: 3px solid $primarycolor;
        padding: 10px 0;
        font-size: 25px;
    }
    #descricaoGaleria{
        width: 80%;
        margin: 60px auto;
        font-size: 18px;
    }
    #conteudoFotoGaleria{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boxFotoGaleria{
        margin-bottom: 100px;
    }
    /* FIM GALERIA */
    /* INICIO CARREIRA MARCELO */
    #tituloSobreCarreira{
        font-size: 30px;
    }
    #descricaoSobreCarreira{
        margin-bottom: 70px;
        font-size: 15px;
    }
    .boxsCarreiras{
        flex-direction: column;
        align-items: center;
    }
    .boxConteudoCarreiras{
        width: 80%;
    }
    .descricaoCarreira{
        width: 100%;
        font-size: 15px;
    }
    #bgCarreiraUm, #bgCarreiraDois, #bgCarreiraTres, #bgCarreiraQuatro{
        width: 100%;
    }
    /* FIM CARREIRA MARCELO */
    /* INICIO LINKS MARCELO */
    #navegacaoMarcelo{
        margin: 20px 0 50px;
    }
    #linksSessaoMarcelo{
        flex-wrap: wrap;
        width: 80%;
        height: 150px;
        padding: 15px 0;
        border-top: 3px solid $primarycolor;
    }
    .linksMarcelo{
        width: 100px;
        font-size: 15px;
        text-transform: capitalize;
    }
    /* FIM LINKS MARCELO */
    /* INICIO AGENDAR CONSULTA MARCELO */
    #agendeConsultaDrMarcelo{
        height: 400px;
        display: flex;
        margin-bottom: 50px;
        background-position: center;
    }
    #conteudoAgendarConsultaMarcelo{
        flex-direction: column;
    }
    #tituloAgendarConsultaMarcelo{
        text-align: center;
        font-size: 30px;
    }
    #descricaoAgendarConsultaMarcelo{
        font-size: 15px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    /* FIM AGENDAR CONSULTA MARCELO */
    
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
    /* INICIO SOBRE MARCELO */
    #conteudoSobreMarcelo{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    #tituloSobreMarcelo{
        text-align: center;
        font-size: 30px;
        border-left: 0;
        padding: 10px 0;
        margin-bottom: 50px;
        border-top: 2px solid $primarycolor;
        border-bottom: 2px solid $primarycolor;
    }
    .descricaoSobreMarcelo{
        width: 80%;
        margin: 0 auto 30px;
        text-align: justify;
    }
    #linhaSobreMarcelo{
        display: none;
    }
    /* FIM SOBRE MARCELO */
    #linhaHorizontalLongaMarcelo{
        display: none;
    }
    /* INICIO SEGUNDA SESSAO */
    #vidaMarcelo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .linhaHorizontalVidaMarcelo{
        width: 550PX;
        height: 3px;
        background-color: $primarycolor;
        margin: 30px 0;
    }
    #rotinaCirurgica, #arteDeConstruir, #cuidandoComEmpatia{
        flex-direction: column;
        align-items: center;
        width: 550px;
    }
    #imgSegundaSessao{
        width: 90%;
        height: 200px;
    }
    .boxSegundaSessao{
        width: 90%;
        order: 1;
    }
    .tituloSegundaSessao{
        margin: 30px 0 10px;
        padding-left: 10px;
        font-size: 25px;
    }
    .descricaoSegundaoSessao{
        margin-top: 0;
        text-align: justify;
        padding: 20px 0 40px;
    }
    /* FIM SEGUNDA SESSAO */

    /* INICIO GALERIA */
    #galeriaFotosMarcelo{
        margin-bottom: 0;
    }
    #tituloGaleria{
        border-top: 3px solid $primarycolor;
        border-bottom: 3px solid $primarycolor;
        padding: 10px 0;
        font-size: 25px;
    }
    #descricaoGaleria{
        width: 80%;
        margin: 60px auto;
        font-size: 18px;
    }
    #conteudoFotoGaleria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .boxFotoGaleria{
        margin: 0 10px 100px;
    }
    /* FIM GALERIA */

    /* INICIO CARREIRA MARCELO */
    #tituloSobreCarreira{
        font-size: 30px;
    }
    #descricaoSobreCarreira{
        margin-bottom: 70px;
        font-size: 18px;
    }
    .boxsCarreiras{
        flex-direction: column;
        align-items: center;
    }
    .boxConteudoCarreiras{
        width: 80%;
    }
    .descricaoCarreira{
        width: 100%;
        font-size: 18px;
    }
    #bgCarreiraUm, #bgCarreiraDois, #bgCarreiraTres, #bgCarreiraQuatro{
        width: 100%;
    }
    /* FIM CARREIRA MARCELO */
    /* INICIO LINKS MARCELO */
    #navegacaoMarcelo{
        margin: 20px 0 50px;
    }
    #linksSessaoMarcelo{
        flex-wrap: wrap;
        width: 80%;
        height: 150px;
        padding: 15px 0;
        border-top: 3px solid $primarycolor;
    }
    .linksMarcelo{
        width: 150px;
        font-size: 15px;
        text-transform: capitalize;
    }
    /* FIM LINKS MARCELO */
    /* INICIO AGENDAR CONSULTA MARCELO */
    #agendeConsultaDrMarcelo{
        height: 400px;
        display: flex;
        margin-bottom: 50px;
        background-position: center;
    }
    #conteudoAgendarConsultaMarcelo{
        flex-direction: column;
    }
    #tituloAgendarConsultaMarcelo{
        text-align: center;
        font-size: 30px;
    }
    #descricaoAgendarConsultaMarcelo{
        font-size: 15px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    /* FIM AGENDAR CONSULTA MARCELO */
}
@media screen and (min-width: 1201px) and (max-width: 1300px) {
    /* INICIO GALERIA */
    #galeriaFotosMarcelo{
        margin-bottom: 0;
    }
    #tituloGaleria{
        border-top: 3px solid $primarycolor;
        border-bottom: 3px solid $primarycolor;
        padding: 10px 0;
        font-size: 25px;
    }
    #descricaoGaleria{
        width: 80%;
        margin: 60px auto;
        font-size: 18px;
    }
    #conteudoFotoGaleria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .boxFotoGaleria{
        margin-bottom: 100px;
    }
    /* FIM GALERIA */
}