@import './cores.module.scss';

.bordaTopoMamarios{
    height: 2px;
    background-color: $primarycolor;
    margin-bottom: 50px;
}
.bordaFundoMamarios{
    height: 2px;
    background-color: $primarycolor;
    margin: 50px 0;
}
#bannerMamarios{
    height: 400px;
    background-image: url(../public/corporali/procedimentos/mamario.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom:50px;
}
#bgBannerMamarios{
    background-color: #18181894;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contentBannerMamarios{
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#conteudoPrincipalMamarios{
    width: 90vw;
    border-top: 3px solid $primarycolor;
    border-bottom: 3px solid $primarycolor;
    margin: 0px auto;
    padding-top: 50px;
}
#tituloBannerMamarios{
    color: #fff;
    border-left: 3px solid #fff;
    padding-left: 10px;
    font-size: 45px;
    text-transform: uppercase;
}
#descricaoMamarios{
    color: #A8A8A8;
    border-left: 3px solid transparent;
    padding-left: 10px;
    font-size: 18px;
}
#sobreProcedimentosMamarios{
    display: flex;
    justify-content: space-between;
}
#bgProtese{
    background-image: url(../public/corporali/procedimentos/protese.png);
    background-size: cover;
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#iconeYoutube{
    width: 100px;
    height: 100px;
}
#textosProcedimentosMamarios{
    width: 50%;
}
#imgProtese{
    width: 500px;
    height: 300px;
    opacity: 0.5;
}
#tituloSobreMamarios{
    color: $primarycolor;
    border-left: 3px solid #fff;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 35px;
}
.descricaoSobreMamarios{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    text-align: justify;
}
.tituloProcedimentosMamarios{
    color: $primarycolor;
    border-left: 3px solid #fff;
    padding-left: 10px;
    font-size: 35px;
    text-transform: uppercase;
    margin: 50px 0;
}
.descricaoProcedimentosMamarios{
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}
#navegacaoMamarios{
    margin: 100px 0;
}
#linksSessaoMamarios{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.linksMamarios{
    background-color: $primarycolor;
    color: $secondarycolor;
    padding: 10px 0;
    width: 200px;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    &:hover{
        background-color: #029479;
        color: #D8D8D8;
    }
}
#agendeSuaConsultaMamarios{
    margin: 50px 0;
    background-image: url(../public/corporali/avulsos/aperto_maos_mamarios.jpg);
    background-size: cover;
    background-position: 20px -350px;
    height: 300px;
    display: flex;
}
#contentAgendeConsultaMamarios{
    background-color: #181818b4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#tituloAgendeConsulta{
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    margin: 20px 0;
}
#descricaoAgendeConsulta{
    color: #D8D8D8;
    font-size: 18px;
}
#linkAgendarConsultaMamarios{
    border: 2px solid $primarycolor;
    width: 170px;
    display: block;
    text-decoration: none;
    color: #fff;text-align: center;
    padding: 10px 0;
    &:hover{
        background-color: #20E2BF;
        color: #3C3C3C;
        font-weight: bold;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}