@import './cores.module.scss';

.bordaTopoMamarios {
    height: 2px;
    background-color: $primarycolor;
    margin-bottom: 50px;
}

.bordaFundoMamarios {
    height: 2px;
    background-color: $primarycolor;
    margin: 50px 0;
}

#bannerMamarios {
    height: 400px;
    background-image: url(../public/corporali/procedimentos/mamario.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

#bgBannerMamarios {
    background-color: #18181894;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contentBannerMamarios {
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#conteudoPrincipalMamarios {
    width: 90vw;
    border-top: 3px solid $primarycolor;
    border-bottom: 3px solid $primarycolor;
    margin: 0px auto;
    padding-top: 50px;
}

#tituloBannerMamarios {
    color: #fff;
    border-left: 3px solid #fff;
    padding-left: 10px;
    font-size: 45px;
    text-transform: uppercase;
}

#descricaoMamarios {
    color: #A8A8A8;
    border-left: 3px solid transparent;
    padding-left: 10px;
    font-size: 18px;
}

#sobreProcedimentosMamarios {
    display: flex;
    justify-content: space-between;
}

#bgProtese {
    background-image: url(../public/corporali/procedimentos/protese.png);
    background-size: cover;
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

#iconeYoutube {
    width: 100px;
    height: 100px;
}

#textosProcedimentosMamarios {
    width: 50%;
}

#imgProtese {
    width: 500px;
    height: 300px;
    opacity: 0.5;
}

#tituloSobreMamarios {
    color: $primarycolor;
    border-left: 3px solid #fff;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 35px;
}

.descricaoSobreMamarios {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    text-align: justify;
}

.tituloProcedimentosMamarios {
    color: $primarycolor;
    border-left: 3px solid #fff;
    padding-left: 10px;
    font-size: 35px;
    text-transform: uppercase;
    margin: 50px 0;
}

.descricaoProcedimentosMamarios {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}

#navegacaoMamarios {
    margin: 100px 0;
}

#linksSessaoMamarios {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.linksMamarios {
    background-color: $primarycolor;
    color: $secondarycolor;
    padding: 10px 0;
    width: 200px;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;

    &:hover {
        background-color: #029479;
        color: #D8D8D8;
    }
}

#agendeSuaConsultaMamarios {
    margin: 50px 0;
    background-image: url(../public/corporali/avulsos/aperto_maos_mamarios.jpg);
    background-size: cover;
    background-position: 20px -350px;
    height: 300px;
    display: flex;
}

#contentAgendeConsultaMamarios {
    background-color: #181818b4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#tituloAgendeConsulta {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    margin: 20px 0;
}

#descricaoAgendeConsulta {
    color: #D8D8D8;
    font-size: 18px;
}

#linkAgendarConsultaMamarios {
    border: 2px solid $primarycolor;
    width: 170px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 10px 0;

    &:hover {
        background-color: #20E2BF;
        color: #3C3C3C;
        font-weight: bold;
    }
}

/* INICIO MODAL */
#modal{
    width: 600px;
    background-color: $secondarycolor;
    border-radius: 15px;
    box-shadow: 1px 0px 5px $primarycolor;
    position: fixed;
    top: 30%;
    right: 10%;
    display: none;
}
#conteudoModal{
    border: 2px solid $primarycolor;
    padding: 20px;
    margin: 50px;
}
#descricaoModal{
    color: #fff;
    margin-bottom: 50px;
}
#caixaEscolhasModal{
    display: flex;
    justify-content: space-between;
}
#boxFecharModal{
    background-color: #FF6B00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
#ondeAssistir{
    display: flex;
    justify-content: right;
}
#assistirNoSite{
    background-color: $primarycolor;
    color: #3C3C3C;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width:140px;
    font-size: 13px;
    margin-right: 20px;
    border-radius: 5px;
}
#assistirNoYoutube{
    background-color: #ff0000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width:140px;
    font-size: 13px;
    border-radius: 5px;
}
/* FIM MODAL */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #bannerMamarios {
        width: 100%;
        height: 300px;
    }

    #tituloBannerMamarios {
        font-size: 20px;
        width: 250px;
    }

    #descricaoMamarios {
        margin-top: 25px;
        text-align: justify;
    }

    #descricaoMamarios {
        text-align: justify;
    }

    #sobreProcedimentosMamarios {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        border-bottom: 3px solid $primarycolor;
        justify-content: center;
        width: 90vw;
    }

    #bgProtese {
        margin-top: 25px;
        order: 1;
        width: 90vw;
        height: 250px;
    }

    #textosProcedimentosMamarios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        order: 0;
    }

    #tituloSobreMamarios {
        font-size: 24px;
        width: 90vw;
        border: none;
        text-align: center;
        padding: 0;
    }

    .descricaoSobreMamarios {
        text-align: justify;
        font-size: 18px;
        width: 90vw;
    }

    .tituloProcedimentosMamarios {
        font-size: 18px;
        width: 100%;
    }

    #descricaoProcedimentosMamarios {
        text-align: justify;
        font-size: 15px;
    }

    #linksMamarios {
        margin: 25px 0;
    }

    #agendeSuaConsultaMamarios {
        background-position: center;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #contentAgendeConsultaMamarios {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
    }

    #tituloAgendeConsulta {
        font-size: 20px;
        order: 1;
        width: 300px;
        color: $primarycolor;
    }

    #descricaoAgendeConsulta {
        font-size: 15px;
        order: 2;
        margin-bottom: 20px;
        text-align: center;
        width: 300px;

    }

    #linkAgendarConsultaMamarios {
        width: 150px;
        order: 3;
    }

    #navegacaoMamarios {
        margin:  0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #linksSessaoMamarios {
        flex-wrap: wrap;
        margin: 30px 0;
        width: 250px;
        height: 100px;
    }

    .linksMamarios {
        font-size: 10px;
        width: 70px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #bannerMamarios {
        width: 100%;
        height: 300px;
    }

    #tituloBannerMamarios {
        font-size: 20px;
        width: 250px;
    }

    #descricaoMamarios {
        margin-top: 25px;
        text-align: justify;
    }

    #descricaoMamarios {
        text-align: justify;
    }

    #sobreProcedimentosMamarios {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        border-bottom: 3px solid $primarycolor;
        justify-content: center;
        width: 90vw;
    }

    #bgProtese {
        margin-top: 25px;
        order: 1;
        width: 90vw;
        height: 250px;
    }

    #textosProcedimentosMamarios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        order: 0;
    }

    #tituloSobreMamarios {
        font-size: 24px;
        width: 90vw;
        border: none;
        text-align: center;
        padding: 0;
    }

    .descricaoSobreMamarios {
        text-align: justify;
        font-size: 18px;
        width: 90vw;
    }

    .tituloProcedimentosMamarios {
        font-size: 18px;
        width: 100%;
    }

    #descricaoProcedimentosMamarios {
        text-align: justify;
        font-size: 15px;
    }

    #linksMamarios {
        margin: 25px 0;
    }

    #agendeSuaConsultaMamarios {
        background-position: center;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #contentAgendeConsultaMamarios {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
    }

    #tituloAgendeConsulta {
        font-size: 20px;
        order: 1;
        width: 300px;
        color: $primarycolor;
    }

    #descricaoAgendeConsulta {
        font-size: 15px;
        order: 2;
        margin-bottom: 20px;
        text-align: center;
        width: 300px;

    }

    #linkAgendarConsultaMamarios {
        width: 150px;
        order: 3;
    }

    #navegacaoMamarios {
        margin:  0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #linksSessaoMamarios {
        flex-wrap: wrap;
        margin: 30px 0;
        width: 250px;
        height: 100px;
    }

    .linksMamarios {
        font-size: 10px;
        width: 70px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #bannerMamarios {
        width: 100%;
        height: 300px;
    }

    #tituloBannerMamarios {
        font-size: 20px;
        width: 250px;
    }

    #descricaoMamarios {
        margin-top: 25px;
        text-align: justify;
    }

    #descricaoMamarios {
        text-align: justify;
    }

    #sobreProcedimentosMamarios {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        border-bottom: 3px solid $primarycolor;
        justify-content: center;
        width: 90vw;
    }

    #bgProtese {
        margin-top: 25px;
        order: 1;
        width: 90vw;
        height: 250px;
    }

    #textosProcedimentosMamarios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        order: 0;
    }

    #tituloSobreMamarios {
        font-size: 24px;
        width: 90vw;
        border: none;
        text-align: center;
        padding: 0;
    }

    .descricaoSobreMamarios {
        text-align: justify;
        font-size: 18px;
        width: 90vw;
    }

    .tituloProcedimentosMamarios {
        font-size: 18px;
        width: 100%;
    }

    #descricaoProcedimentosMamarios {
        text-align: justify;
        font-size: 15px;
    }

    #linksMamarios {
        margin: 25px 0;
    }

    #agendeSuaConsultaMamarios {
        background-position: center;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #contentAgendeConsultaMamarios {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
    }

    #tituloAgendeConsulta {
        font-size: 20px;
        order: 1;
        width: 300px;
        color: $primarycolor;
    }

    #descricaoAgendeConsulta {
        font-size: 15px;
        order: 2;
        margin-bottom: 20px;
        text-align: center;
        width: 300px;

    }

    #linkAgendarConsultaMamarios {
        width: 150px;
        order: 3;
    }

    #navegacaoMamarios {
        margin:  0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #linksSessaoMamarios {
        flex-wrap: wrap;
        margin: 30px 0;
        width: 250px;
        height: 100px;
    }

    .linksMamarios {
        font-size: 10px;
        width: 70px;
    }
}